#headerGfw {
	.m-apps-content {
	  h1 {
	  	position: relative;
	  	width: 60px;
	  	height: 60px;
	  	margin: 0 auto;
	  	background-size: contain;
	    @media (min-width: $br-mobile){
		  	width: 90px;
		  	height: 90px;
	    }


	  	a {
	  		display: block;
	  		width: 100%;
	  		height: 100%;
	  		text-transform: uppercase;
	  		color: $white;
	  		font-size: 13px;
	  		white-space: nowrap;

	  		span {
	  			position: absolute;
	  			top: 100%;
	  			left: 50%;
	  			transform: translate(-50%, 10px);
	  		}
	  	}
	  }

	  // App list
	  .apps {
	  	background-color: $dark1;
	  	padding: 40px 0px;

	    @media (min-width: $br-mobile-portrait){
	    	padding: 40px;
	    }

	    @media (min-width: $br-mobile){
	    	padding: 40px 40px 80px;
	    }

	  	ul {
	  		width: 280px;
	  		max-width: 630px;
	  		margin: 0px auto;
	  		padding: 50px 0 0;
	  		display: flex;
	  		flex-wrap: wrap;
	  		justify-content: space-between;
		    @media (min-width: $br-mobile){
		    	padding: 60px 0 0;
		    	width: auto;
		    	justify-content: flex-start;
		    }

	  		> li {

			    @media (max-width: $br-mobile - 1){
		  			&:nth-child(n+4) {
		  				margin-top: 20px;
		  			}
			    }

			    @media (min-width: $br-mobile){
		  			width: 25%;

		  			&:nth-child(n+5) {
		  				margin-top: 30px;
		  			}
			    }

				  // App item
				  .app {
				  	width: 100px;
						margin: 0 auto;
					 	border: 1px solid $primary-color;
				  	width: 80px;
				  	height: 80px;


				    @media (min-width: $br-mobile){
					  	width: 112px;
					  	height: 112px;
							&:hover, &.-current {
								background: $primary-color;
								svg {
									fill: $white;
								}
							}
				    }


						svg {
							display: block;
							width: 26px;
							height: 26px;
							margin: 15px auto 6px;
							fill: $primary-color;
					    @media (min-width: $br-mobile){
								width: 38px;
								height: 38px;
								margin: 15px auto 10px;
					    }
						}

						span {
							display: block;
							text-transform: uppercase;
							font-size: 10px;
							line-height: 1.25;
							color: $white;
							text-align: center;
					    @media (min-width: $br-mobile){
								padding: 0 10px;
					    	font-size: 12px;
					    }
						}
				  }

	        &.shape-fires {
	        	.app {
	        		border-color: $red;
	        		@media (min-width: $br-mobile){
								&:hover, &.-current {
									background: $red;
								}
							}
	        	}
	        	svg { fill: $red; }
	        }
	        &.shape-commodities {
	        	.app {
	        		border-color: $orange;
	        		@media (min-width: $br-mobile){
								&:hover, &.-current {
									background: $orange;
								}
							}
	        	}
	        	svg { fill: $orange; }
	        }
	        &.shape-climate {
	        	.app {
	        		border-color: $blue;
	        		@media (min-width: $br-mobile){
								&:hover, &.-current {
									background: $blue;
								}
							}
	        	}
	        	svg { fill: $blue; }
	        }
	        &.shape-water {
	        	.app {
	        		border-color: $bluewater;
	        		@media (min-width: $br-mobile){
								&:hover, &.-current {
									background: $bluewater;
								}
							}
	        	}
	        	svg { fill: $bluewater; }
	        }
	  		}
	  	}
	  }
	}
}
