#headerGfw {
	.m-apps {
		position: fixed;
		bottom: 50px;
		left: 0;
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		overflow: auto;

    @media (min-width: $br-mobile){
			position: absolute;
			top: 35px;
			bottom: auto;
			height: auto;
    }

		&.-active {
			opacity: 1;
			visibility: visible;
		}
	}

	.m-apps-content {

	  h1 {
	  	width: 60px;
	  	height: 60px;
	  	margin: 0 auto;
	  	background: url(http://www.globalforestwatch.org/assets/logo-new-c84df4ee1f85536a7c0b574378f21ab0.png);
	  	background-size: contain;
	    @media (min-width: $br-mobile){
		  	width: 90px;
		  	height: 90px;
	    }


	  	a {
	  		display: block;
	  		width: 100%;
	  		height: 100%;
	  		text-indent: -9999px;
	  	}
	  }

	  // App list
	  .apps {
	  	background-color: $dark1;
	  	padding: 20px;
	    @media (min-width: $br-mobile){
	    	padding: 40px;
	    }

	  	ul {
	  		width: 270px;
	  		max-width: 630px;
	  		margin: 0px auto;
	  		padding: 20px 0 0;
	  		display: flex;
	  		flex-wrap: wrap;
	  		justify-content: space-between;
		    @media (min-width: $br-mobile){
		    	padding: 40px 0;
		    	width: auto;
		    	justify-content: flex-start;
		    }

	  		> li {

			    @media (min-width: $br-mobile){
		  			width: 25%;

		  			&:nth-child(n+5) {
		  				margin-top: 30px;
		  			}
			    }

				  // App item
				  .app {
				  	width: 82px;
						margin: 0 auto;
				    @media (min-width: $br-mobile){
					  	border: 1px solid $primary-color;
					  	width: 112px;
					  	height: 112px;
							&:hover, &.-current {
								background: $primary-color;
								svg {
									fill: $white;
								}
							}
				    }


						svg {
							display: block;
							width: 38px;
							height: 38px;
							margin: 15px auto 10px;
							fill: $primary-color;
						}

						span {
							display: block;
							text-transform: uppercase;
							font-size: 12px;
							line-height: 1.25;
							color: $white;
							text-align: center;
							padding: 0 10px;
						}	
				  }

	        &.shape-fires { 
	        	.app { 
	        		border-color: $red;
	        		@media (min-width: $br-mobile){
								&:hover, &.-current {
									background: $red;
								}
							}
	        	}
	        	svg { fill: $red; } 
	        }
	        &.shape-commodities { 
	        	.app { 
	        		border-color: $orange;
	        		@media (min-width: $br-mobile){
								&:hover, &.-current {
									background: $orange;
								}
							}
	        	}
	        	svg { fill: $orange; } 
	        }
	        &.shape-climate { 
	        	.app { 
	        		border-color: $blue;
	        		@media (min-width: $br-mobile){
								&:hover, &.-current {
									background: $blue;
								}
							}
	        	}
	        	svg { fill: $blue; } 
	        }
	        &.shape-water { 
	        	.app { 
	        		border-color: $bluewater;
	        		@media (min-width: $br-mobile){
								&:hover, &.-current {
									background: $bluewater;
								}
							}
	        	}
	        	svg { fill: $bluewater; } 
	        }
	  		}
	  	}
	  }

	  .more-apps {
	  	background: $dark;
	  	padding: 20px;
	    @media (min-width: $br-mobile){
	    	padding: 40px;
	    }
			
			.more-list {
				position: relative;
	  		max-width: 630px;
	  		margin: 0px auto;
	  		display: inline-block;
	  		left: 50%;
	  		transform: translate(-50%,0);
    		@media (min-width: $br-mobile){
		  		left: auto;
		  		transform: translate(0,0);
		  		display: flex;
		  		flex-wrap: wrap;
		  		justify-content: flex-start;
    			justify-content: space-between;
				}

	  		> li {
	  			
      		@media (max-width: $br-mobile - 1){
      			margin-top: 15px;
		  			&:first-child {
		  				margin-top: 0px;
		  			}
					}

      		@media (min-width: $br-mobile){
      			width: 33.3333%;
		  			&:nth-child(n+4) {
		  				margin-top: 15px;
		  			}
					}
	  			
	  			a {
	  				display: flex;
	  				justify-content: flex-start;
	  				align-items: center;
				    @media (min-width: $br-mobile){
				    	justify-content: center;
		  				&:hover {
		  					span {
		  						border-bottom: 1px solid $primary-color;
		  					}
		  				}
				    }



						svg {
							display: block;
							width: 21px;
							height: 21px;
							fill: $primary-color;
							margin: 0;
						}

						span {
							display: block;
							text-transform: uppercase;
							font-size: 12px;
							line-height: 1.25;
							color: $white;
							text-align: center;
							margin: 0 10px;
						}	

	  			}
	  		}				
			}

			.more-more-list {
	  		max-width: 630px;
	  		margin: 40px auto 0;
	  		display: inline-block;
	  		position: relative;
	  		left: 50%;
	  		transform: translate(-50%,0);
    		@media (min-width: $br-mobile){
		  		left: auto;
		  		transform: translate(0,0);
		  		display: flex;
		  		flex-wrap: wrap;
		  		justify-content: flex-start;
    			justify-content: space-between;
				}

	  		> li {
	  			font-size: 12px;
	  			position: relative;
	  			margin-top: 10px;

	    		@media (max-width: $br-mobile - 1){
		  			&:first-child {
		  				margin-top: 0;
		  			}
					}
	  			
	    		@media (min-width: $br-mobile){
		  			&:first-child {
		  				&:after {
		  					display: none;
		  				}
		  			}
	  				&:after {
	  					content: "";
	  					display: block;
	  					position: absolute;
	  					top: 50%;
	  					right: 100%;
	  					transform: translate(-17px, -50%);
	  					width: 3px;
	  					height: 3px;
	  					border-radius: 50%;
	  					background: $white;
	  				}
					}


	  			a {
	  				text-transform: uppercase;
	  				color: $white;
	  				&:hover {
	  					border-bottom: 1px solid $primary-color;
	  				}
	  			}
	  		}				

			}	  	  	
	  }
	}
}
