// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$br-name: 'br';
$br-x: 521px;
$br-y: 467px;
$br-offset-x: -521px;
$br-offset-y: -467px;
$br-width: 208px;
$br-height: 156px;
$br-total-width: 939px;
$br-total-height: 887px;
$br-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$br: (521px, 467px, -521px, -467px, 208px, 156px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'br', );
$brhover-name: 'brhover';
$brhover-x: 313px;
$brhover-y: 467px;
$brhover-offset-x: -313px;
$brhover-offset-y: -467px;
$brhover-width: 208px;
$brhover-height: 156px;
$brhover-total-width: 939px;
$brhover-total-height: 887px;
$brhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$brhover: (313px, 467px, -313px, -467px, 208px, 156px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'brhover', );
$cargill-name: 'cargill';
$cargill-x: 250px;
$cargill-y: 730px;
$cargill-offset-x: -250px;
$cargill-offset-y: -730px;
$cargill-width: 75px;
$cargill-height: 45px;
$cargill-total-width: 939px;
$cargill-total-height: 887px;
$cargill-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$cargill: (250px, 730px, -250px, -730px, 75px, 45px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'cargill', );
$cargillhover-name: 'cargillhover';
$cargillhover-x: 325px;
$cargillhover-y: 730px;
$cargillhover-offset-x: -325px;
$cargillhover-offset-y: -730px;
$cargillhover-width: 75px;
$cargillhover-height: 45px;
$cargillhover-total-width: 939px;
$cargillhover-total-height: 887px;
$cargillhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$cargillhover: (325px, 730px, -325px, -730px, 75px, 45px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'cargillhover', );
$citi-name: 'citi';
$citi-x: 729px;
$citi-y: 563px;
$citi-offset-x: -729px;
$citi-offset-y: -563px;
$citi-width: 75px;
$citi-height: 49px;
$citi-total-width: 939px;
$citi-total-height: 887px;
$citi-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$citi: (729px, 563px, -729px, -563px, 75px, 49px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'citi', );
$citihover-name: 'citihover';
$citihover-x: 804px;
$citihover-y: 563px;
$citihover-offset-x: -804px;
$citihover-offset-y: -563px;
$citihover-width: 75px;
$citihover-height: 49px;
$citihover-total-width: 939px;
$citihover-total-height: 887px;
$citihover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$citihover: (804px, 563px, -804px, -563px, 75px, 49px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'citihover', );
$daemeter-name: 'daemeter';
$daemeter-x: 313px;
$daemeter-y: 629px;
$daemeter-offset-x: -313px;
$daemeter-offset-y: -629px;
$daemeter-width: 313px;
$daemeter-height: 101px;
$daemeter-total-width: 939px;
$daemeter-total-height: 887px;
$daemeter-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$daemeter: (313px, 629px, -313px, -629px, 313px, 101px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'daemeter', );
$daemeterhover-name: 'daemeterhover';
$daemeterhover-x: 0px;
$daemeterhover-y: 629px;
$daemeterhover-offset-x: 0px;
$daemeterhover-offset-y: -629px;
$daemeterhover-width: 313px;
$daemeterhover-height: 101px;
$daemeterhover-total-width: 939px;
$daemeterhover-total-height: 887px;
$daemeterhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$daemeterhover: (0px, 629px, 0px, -629px, 313px, 101px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'daemeterhover', );
$esri-name: 'esri';
$esri-x: 675px;
$esri-y: 804px;
$esri-offset-x: -675px;
$esri-offset-y: -804px;
$esri-width: 75px;
$esri-height: 33px;
$esri-total-width: 939px;
$esri-total-height: 887px;
$esri-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$esri: (675px, 804px, -675px, -804px, 75px, 33px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'esri', );
$esrihover-name: 'esrihover';
$esrihover-x: 525px;
$esrihover-y: 804px;
$esrihover-offset-x: -525px;
$esrihover-offset-y: -804px;
$esrihover-width: 75px;
$esrihover-height: 33px;
$esrihover-total-width: 939px;
$esrihover-total-height: 887px;
$esrihover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$esrihover: (525px, 804px, -525px, -804px, 75px, 33px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'esrihover', );
$google-name: 'google';
$google-x: 626px;
$google-y: 629px;
$google-offset-x: -626px;
$google-offset-y: -629px;
$google-width: 150px;
$google-height: 96px;
$google-total-width: 939px;
$google-total-height: 887px;
$google-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$google: (626px, 629px, -626px, -629px, 150px, 96px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'google', );
$googlehover-name: 'googlehover';
$googlehover-x: 729px;
$googlehover-y: 467px;
$googlehover-offset-x: -729px;
$googlehover-offset-y: -467px;
$googlehover-width: 150px;
$googlehover-height: 96px;
$googlehover-total-width: 939px;
$googlehover-total-height: 887px;
$googlehover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$googlehover: (729px, 467px, -729px, -467px, 150px, 96px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'googlehover', );
$idb-name: 'idb';
$idb-x: 0px;
$idb-y: 316px;
$idb-offset-x: 0px;
$idb-offset-y: -316px;
$idb-width: 313px;
$idb-height: 313px;
$idb-total-width: 939px;
$idb-total-height: 887px;
$idb-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$idb: (0px, 316px, 0px, -316px, 313px, 313px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'idb', );
$idbhover-name: 'idbhover';
$idbhover-x: 626px;
$idbhover-y: 0px;
$idbhover-offset-x: -626px;
$idbhover-offset-y: 0px;
$idbhover-width: 313px;
$idbhover-height: 313px;
$idbhover-total-width: 939px;
$idbhover-total-height: 887px;
$idbhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$idbhover: (626px, 0px, -626px, 0px, 313px, 313px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'idbhover', );
$idh-name: 'idh';
$idh-x: 175px;
$idh-y: 730px;
$idh-offset-x: -175px;
$idh-offset-y: -730px;
$idh-width: 75px;
$idh-height: 68px;
$idh-total-width: 939px;
$idh-total-height: 887px;
$idh-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$idh: (175px, 730px, -175px, -730px, 75px, 68px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'idh', );
$idhhover-name: 'idhhover';
$idhhover-x: 100px;
$idhhover-y: 730px;
$idhhover-offset-x: -100px;
$idhhover-offset-y: -730px;
$idhhover-width: 75px;
$idhhover-height: 68px;
$idhhover-total-width: 939px;
$idhhover-total-height: 887px;
$idhhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$idhhover: (100px, 730px, -100px, -730px, 75px, 68px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'idhhover', );
$ioi-name: 'ioi';
$ioi-x: 804px;
$ioi-y: 612px;
$ioi-offset-x: -804px;
$ioi-offset-y: -612px;
$ioi-width: 75px;
$ioi-height: 6px;
$ioi-total-width: 939px;
$ioi-total-height: 887px;
$ioi-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$ioi: (804px, 612px, -804px, -612px, 75px, 6px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'ioi', );
$ioihover-name: 'ioihover';
$ioihover-x: 729px;
$ioihover-y: 612px;
$ioihover-offset-x: -729px;
$ioihover-offset-y: -612px;
$ioihover-width: 75px;
$ioihover-height: 6px;
$ioihover-total-width: 939px;
$ioihover-total-height: 887px;
$ioihover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$ioihover: (729px, 612px, -729px, -612px, 75px, 6px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'ioihover', );
$iucn-name: 'iucn';
$iucn-x: 626px;
$iucn-y: 316px;
$iucn-offset-x: -626px;
$iucn-offset-y: -316px;
$iucn-width: 313px;
$iucn-height: 151px;
$iucn-total-width: 939px;
$iucn-total-height: 887px;
$iucn-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$iucn: (626px, 316px, -626px, -316px, 313px, 151px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'iucn', );
$iucnhover-name: 'iucnhover';
$iucnhover-x: 313px;
$iucnhover-y: 316px;
$iucnhover-offset-x: -313px;
$iucnhover-offset-y: -316px;
$iucnhover-width: 313px;
$iucnhover-height: 151px;
$iucnhover-total-width: 939px;
$iucnhover-total-height: 887px;
$iucnhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$iucnhover: (313px, 316px, -313px, -316px, 313px, 151px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'iucnhover', );
$mondelez-name: 'mondelez';
$mondelez-x: 600px;
$mondelez-y: 730px;
$mondelez-offset-x: -600px;
$mondelez-offset-y: -730px;
$mondelez-width: 104px;
$mondelez-height: 25px;
$mondelez-total-width: 939px;
$mondelez-total-height: 887px;
$mondelez-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$mondelez: (600px, 730px, -600px, -730px, 104px, 25px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'mondelez', );
$mondelezhover-name: 'mondelezhover';
$mondelezhover-x: 704px;
$mondelezhover-y: 730px;
$mondelezhover-offset-x: -704px;
$mondelezhover-offset-y: -730px;
$mondelezhover-width: 104px;
$mondelezhover-height: 25px;
$mondelezhover-total-width: 939px;
$mondelezhover-total-height: 887px;
$mondelezhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$mondelezhover: (704px, 730px, -704px, -730px, 104px, 25px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'mondelezhover', );
$natureconservancy-name: 'natureconservancy';
$natureconservancy-x: 375px;
$natureconservancy-y: 804px;
$natureconservancy-offset-x: -375px;
$natureconservancy-offset-y: -804px;
$natureconservancy-width: 75px;
$natureconservancy-height: 37px;
$natureconservancy-total-width: 939px;
$natureconservancy-total-height: 887px;
$natureconservancy-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$natureconservancy: (375px, 804px, -375px, -804px, 75px, 37px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'natureconservancy', );
$natureconservancyhover-name: 'natureconservancyhover';
$natureconservancyhover-x: 300px;
$natureconservancyhover-y: 804px;
$natureconservancyhover-offset-x: -300px;
$natureconservancyhover-offset-y: -804px;
$natureconservancyhover-width: 75px;
$natureconservancyhover-height: 38px;
$natureconservancyhover-total-width: 939px;
$natureconservancyhover-total-height: 887px;
$natureconservancyhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$natureconservancyhover: (300px, 804px, -300px, -804px, 75px, 38px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'natureconservancyhover', );
$olam-name: 'olam';
$olam-x: 808px;
$olam-y: 730px;
$olam-offset-x: -808px;
$olam-offset-y: -730px;
$olam-width: 75px;
$olam-height: 23px;
$olam-total-width: 939px;
$olam-total-height: 887px;
$olam-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$olam: (808px, 730px, -808px, -730px, 75px, 23px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'olam', );
$olamhover-name: 'olamhover';
$olamhover-x: 250px;
$olamhover-y: 775px;
$olamhover-offset-x: -250px;
$olamhover-offset-y: -775px;
$olamhover-width: 75px;
$olamhover-height: 23px;
$olamhover-total-width: 939px;
$olamhover-total-height: 887px;
$olamhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$olamhover: (250px, 775px, -250px, -775px, 75px, 23px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'olamhover', );
$proforest-name: 'proforest';
$proforest-x: 600px;
$proforest-y: 804px;
$proforest-offset-x: -600px;
$proforest-offset-y: -804px;
$proforest-width: 75px;
$proforest-height: 33px;
$proforest-total-width: 939px;
$proforest-total-height: 887px;
$proforest-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$proforest: (600px, 804px, -600px, -804px, 75px, 33px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'proforest', );
$proforesthover-name: 'proforesthover';
$proforesthover-x: 450px;
$proforesthover-y: 804px;
$proforesthover-offset-x: -450px;
$proforesthover-offset-y: -804px;
$proforesthover-width: 75px;
$proforesthover-height: 33px;
$proforesthover-total-width: 939px;
$proforesthover-total-height: 887px;
$proforesthover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$proforesthover: (450px, 804px, -450px, -804px, 75px, 33px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'proforesthover', );
$rainforestalliance-name: 'rainforestalliance';
$rainforestalliance-x: 776px;
$rainforestalliance-y: 629px;
$rainforestalliance-offset-x: -776px;
$rainforestalliance-offset-y: -629px;
$rainforestalliance-width: 100px;
$rainforestalliance-height: 74px;
$rainforestalliance-total-width: 939px;
$rainforestalliance-total-height: 887px;
$rainforestalliance-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$rainforestalliance: (776px, 629px, -776px, -629px, 100px, 74px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'rainforestalliance', );
$rainforestalliancehover-name: 'rainforestalliancehover';
$rainforestalliancehover-x: 0px;
$rainforestalliancehover-y: 730px;
$rainforestalliancehover-offset-x: 0px;
$rainforestalliancehover-offset-y: -730px;
$rainforestalliancehover-width: 100px;
$rainforestalliancehover-height: 74px;
$rainforestalliancehover-total-width: 939px;
$rainforestalliancehover-total-height: 887px;
$rainforestalliancehover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$rainforestalliancehover: (0px, 730px, 0px, -730px, 100px, 74px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'rainforestalliancehover', );
$rspo-name: 'rspo';
$rspo-x: 313px;
$rspo-y: 0px;
$rspo-offset-x: -313px;
$rspo-offset-y: 0px;
$rspo-width: 313px;
$rspo-height: 316px;
$rspo-total-width: 939px;
$rspo-total-height: 887px;
$rspo-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$rspo: (313px, 0px, -313px, 0px, 313px, 316px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'rspo', );
$rspohover-name: 'rspohover';
$rspohover-x: 0px;
$rspohover-y: 0px;
$rspohover-offset-x: 0px;
$rspohover-offset-y: 0px;
$rspohover-width: 313px;
$rspohover-height: 316px;
$rspohover-total-width: 939px;
$rspohover-total-height: 887px;
$rspohover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$rspohover: (0px, 0px, 0px, 0px, 313px, 316px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'rspohover', );
$transparentworld-name: 'transparentworld';
$transparentworld-x: 500px;
$transparentworld-y: 730px;
$transparentworld-offset-x: -500px;
$transparentworld-offset-y: -730px;
$transparentworld-width: 100px;
$transparentworld-height: 29px;
$transparentworld-total-width: 939px;
$transparentworld-total-height: 887px;
$transparentworld-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$transparentworld: (500px, 730px, -500px, -730px, 100px, 29px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'transparentworld', );
$transparentworldhover-name: 'transparentworldhover';
$transparentworldhover-x: 400px;
$transparentworldhover-y: 730px;
$transparentworldhover-offset-x: -400px;
$transparentworldhover-offset-y: -730px;
$transparentworldhover-width: 100px;
$transparentworldhover-height: 29px;
$transparentworldhover-total-width: 939px;
$transparentworldhover-total-height: 887px;
$transparentworldhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$transparentworldhover: (400px, 730px, -400px, -730px, 100px, 29px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'transparentworldhover', );
$umd-name: 'umd';
$umd-x: 225px;
$umd-y: 804px;
$umd-offset-x: -225px;
$umd-offset-y: -804px;
$umd-width: 75px;
$umd-height: 75px;
$umd-total-width: 939px;
$umd-total-height: 887px;
$umd-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$umd: (225px, 804px, -225px, -804px, 75px, 75px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'umd', );
$umdhover-name: 'umdhover';
$umdhover-x: 150px;
$umdhover-y: 804px;
$umdhover-offset-x: -150px;
$umdhover-offset-y: -804px;
$umdhover-width: 75px;
$umdhover-height: 75px;
$umdhover-total-width: 939px;
$umdhover-total-height: 887px;
$umdhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$umdhover: (150px, 804px, -150px, -804px, 75px, 75px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'umdhover', );
$unilever-name: 'unilever';
$unilever-x: 75px;
$unilever-y: 804px;
$unilever-offset-x: -75px;
$unilever-offset-y: -804px;
$unilever-width: 75px;
$unilever-height: 83px;
$unilever-total-width: 939px;
$unilever-total-height: 887px;
$unilever-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$unilever: (75px, 804px, -75px, -804px, 75px, 83px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'unilever', );
$unileverhover-name: 'unileverhover';
$unileverhover-x: 0px;
$unileverhover-y: 804px;
$unileverhover-offset-x: 0px;
$unileverhover-offset-y: -804px;
$unileverhover-width: 75px;
$unileverhover-height: 83px;
$unileverhover-total-width: 939px;
$unileverhover-total-height: 887px;
$unileverhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$unileverhover: (0px, 804px, 0px, -804px, 75px, 83px, 939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'unileverhover', );
$spritesheet-width: 939px;
$spritesheet-height: 887px;
$spritesheet-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$spritesheet-sprites: ($br, $brhover, $cargill, $cargillhover, $citi, $citihover, $daemeter, $daemeterhover, $esri, $esrihover, $google, $googlehover, $idb, $idbhover, $idh, $idhhover, $ioi, $ioihover, $iucn, $iucnhover, $mondelez, $mondelezhover, $natureconservancy, $natureconservancyhover, $olam, $olamhover, $proforest, $proforesthover, $rainforestalliance, $rainforestalliancehover, $rspo, $rspohover, $transparentworld, $transparentworldhover, $umd, $umdhover, $unilever, $unileverhover, );
$spritesheet: (939px, 887px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
