// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$br-name: 'br';
$br-x: 150px;
$br-y: 159px;
$br-offset-x: -150px;
$br-offset-y: -159px;
$br-width: 75px;
$br-height: 56px;
$br-total-width: 375px;
$br-total-height: 374px;
$br-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$br: (150px, 159px, -150px, -159px, 75px, 56px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'br', );
$brhover-name: 'brhover';
$brhover-x: 75px;
$brhover-y: 227px;
$brhover-offset-x: -75px;
$brhover-offset-y: -227px;
$brhover-width: 75px;
$brhover-height: 56px;
$brhover-total-width: 375px;
$brhover-total-height: 374px;
$brhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$brhover: (75px, 227px, -75px, -227px, 75px, 56px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'brhover', );
$cargill-name: 'cargill';
$cargill-x: 300px;
$cargill-y: 96px;
$cargill-offset-x: -300px;
$cargill-offset-y: -96px;
$cargill-width: 75px;
$cargill-height: 45px;
$cargill-total-width: 375px;
$cargill-total-height: 374px;
$cargill-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$cargill: (300px, 96px, -300px, -96px, 75px, 45px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'cargill', );
$cargillhover-name: 'cargillhover';
$cargillhover-x: 300px;
$cargillhover-y: 141px;
$cargillhover-offset-x: -300px;
$cargillhover-offset-y: -141px;
$cargillhover-width: 75px;
$cargillhover-height: 45px;
$cargillhover-total-width: 375px;
$cargillhover-total-height: 374px;
$cargillhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$cargillhover: (300px, 141px, -300px, -141px, 75px, 45px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'cargillhover', );
$citi-name: 'citi';
$citi-x: 150px;
$citi-y: 227px;
$citi-offset-x: -150px;
$citi-offset-y: -227px;
$citi-width: 75px;
$citi-height: 49px;
$citi-total-width: 375px;
$citi-total-height: 374px;
$citi-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$citi: (150px, 227px, -150px, -227px, 75px, 49px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'citi', );
$citihover-name: 'citihover';
$citihover-x: 225px;
$citihover-y: 227px;
$citihover-offset-x: -225px;
$citihover-offset-y: -227px;
$citihover-width: 75px;
$citihover-height: 49px;
$citihover-total-width: 375px;
$citihover-total-height: 374px;
$citihover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$citihover: (225px, 227px, -225px, -227px, 75px, 49px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'citihover', );
$daemeter-name: 'daemeter';
$daemeter-x: 150px;
$daemeter-y: 319px;
$daemeter-offset-x: -150px;
$daemeter-offset-y: -319px;
$daemeter-width: 75px;
$daemeter-height: 24px;
$daemeter-total-width: 375px;
$daemeter-total-height: 374px;
$daemeter-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$daemeter: (150px, 319px, -150px, -319px, 75px, 24px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'daemeter', );
$daemeterhover-name: 'daemeterhover';
$daemeterhover-x: 75px;
$daemeterhover-y: 319px;
$daemeterhover-offset-x: -75px;
$daemeterhover-offset-y: -319px;
$daemeterhover-width: 75px;
$daemeterhover-height: 24px;
$daemeterhover-total-width: 375px;
$daemeterhover-total-height: 374px;
$daemeterhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$daemeterhover: (75px, 319px, -75px, -319px, 75px, 24px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'daemeterhover', );
$esri-name: 'esri';
$esri-x: 0px;
$esri-y: 319px;
$esri-offset-x: 0px;
$esri-offset-y: -319px;
$esri-width: 75px;
$esri-height: 33px;
$esri-total-width: 375px;
$esri-total-height: 374px;
$esri-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$esri: (0px, 319px, 0px, -319px, 75px, 33px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'esri', );
$esrihover-name: 'esrihover';
$esrihover-x: 225px;
$esrihover-y: 283px;
$esrihover-offset-x: -225px;
$esrihover-offset-y: -283px;
$esrihover-width: 75px;
$esrihover-height: 33px;
$esrihover-total-width: 375px;
$esrihover-total-height: 374px;
$esrihover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$esrihover: (225px, 283px, -225px, -283px, 75px, 33px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'esrihover', );
$google-name: 'google';
$google-x: 300px;
$google-y: 48px;
$google-offset-x: -300px;
$google-offset-y: -48px;
$google-width: 75px;
$google-height: 48px;
$google-total-width: 375px;
$google-total-height: 374px;
$google-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$google: (300px, 48px, -300px, -48px, 75px, 48px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'google', );
$googlehover-name: 'googlehover';
$googlehover-x: 300px;
$googlehover-y: 0px;
$googlehover-offset-x: -300px;
$googlehover-offset-y: 0px;
$googlehover-width: 75px;
$googlehover-height: 48px;
$googlehover-total-width: 375px;
$googlehover-total-height: 374px;
$googlehover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$googlehover: (300px, 0px, -300px, 0px, 75px, 48px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'googlehover', );
$idb-name: 'idb';
$idb-x: 225px;
$idb-y: 0px;
$idb-offset-x: -225px;
$idb-offset-y: 0px;
$idb-width: 75px;
$idb-height: 75px;
$idb-total-width: 375px;
$idb-total-height: 374px;
$idb-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$idb: (225px, 0px, -225px, 0px, 75px, 75px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'idb', );
$idbhover-name: 'idbhover';
$idbhover-x: 225px;
$idbhover-y: 75px;
$idbhover-offset-x: -225px;
$idbhover-offset-y: -75px;
$idbhover-width: 75px;
$idbhover-height: 75px;
$idbhover-total-width: 375px;
$idbhover-total-height: 374px;
$idbhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$idbhover: (225px, 75px, -225px, -75px, 75px, 75px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'idbhover', );
$idh-name: 'idh';
$idh-x: 75px;
$idh-y: 159px;
$idh-offset-x: -75px;
$idh-offset-y: -159px;
$idh-width: 75px;
$idh-height: 68px;
$idh-total-width: 375px;
$idh-total-height: 374px;
$idh-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$idh: (75px, 159px, -75px, -159px, 75px, 68px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'idh', );
$idhhover-name: 'idhhover';
$idhhover-x: 0px;
$idhhover-y: 159px;
$idhhover-offset-x: 0px;
$idhhover-offset-y: -159px;
$idhhover-width: 75px;
$idhhover-height: 68px;
$idhhover-total-width: 375px;
$idhhover-total-height: 374px;
$idhhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$idhhover: (0px, 159px, 0px, -159px, 75px, 68px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'idhhover', );
$ioi-name: 'ioi';
$ioi-x: 150px;
$ioi-y: 76px;
$ioi-offset-x: -150px;
$ioi-offset-y: -76px;
$ioi-width: 75px;
$ioi-height: 6px;
$ioi-total-width: 375px;
$ioi-total-height: 374px;
$ioi-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$ioi: (150px, 76px, -150px, -76px, 75px, 6px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'ioi', );
$ioihover-name: 'ioihover';
$ioihover-x: 225px;
$ioihover-y: 150px;
$ioihover-offset-x: -225px;
$ioihover-offset-y: -150px;
$ioihover-width: 75px;
$ioihover-height: 6px;
$ioihover-total-width: 375px;
$ioihover-total-height: 374px;
$ioihover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$ioihover: (225px, 150px, -225px, -150px, 75px, 6px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'ioihover', );
$iucn-name: 'iucn';
$iucn-x: 0px;
$iucn-y: 283px;
$iucn-offset-x: 0px;
$iucn-offset-y: -283px;
$iucn-width: 75px;
$iucn-height: 36px;
$iucn-total-width: 375px;
$iucn-total-height: 374px;
$iucn-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$iucn: (0px, 283px, 0px, -283px, 75px, 36px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'iucn', );
$iucnhover-name: 'iucnhover';
$iucnhover-x: 75px;
$iucnhover-y: 283px;
$iucnhover-offset-x: -75px;
$iucnhover-offset-y: -283px;
$iucnhover-width: 75px;
$iucnhover-height: 36px;
$iucnhover-total-width: 375px;
$iucnhover-total-height: 374px;
$iucnhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$iucnhover: (75px, 283px, -75px, -283px, 75px, 36px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'iucnhover', );
$mondelez-name: 'mondelez';
$mondelez-x: 150px;
$mondelez-y: 352px;
$mondelez-offset-x: -150px;
$mondelez-offset-y: -352px;
$mondelez-width: 75px;
$mondelez-height: 18px;
$mondelez-total-width: 375px;
$mondelez-total-height: 374px;
$mondelez-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$mondelez: (150px, 352px, -150px, -352px, 75px, 18px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'mondelez', );
$mondelezhover-name: 'mondelezhover';
$mondelezhover-x: 75px;
$mondelezhover-y: 352px;
$mondelezhover-offset-x: -75px;
$mondelezhover-offset-y: -352px;
$mondelezhover-width: 75px;
$mondelezhover-height: 18px;
$mondelezhover-total-width: 375px;
$mondelezhover-total-height: 374px;
$mondelezhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$mondelezhover: (75px, 352px, -75px, -352px, 75px, 18px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'mondelezhover', );
$natureconservancy-name: 'natureconservancy';
$natureconservancy-x: 300px;
$natureconservancy-y: 224px;
$natureconservancy-offset-x: -300px;
$natureconservancy-offset-y: -224px;
$natureconservancy-width: 75px;
$natureconservancy-height: 37px;
$natureconservancy-total-width: 375px;
$natureconservancy-total-height: 374px;
$natureconservancy-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$natureconservancy: (300px, 224px, -300px, -224px, 75px, 37px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'natureconservancy', );
$natureconservancyhover-name: 'natureconservancyhover';
$natureconservancyhover-x: 300px;
$natureconservancyhover-y: 186px;
$natureconservancyhover-offset-x: -300px;
$natureconservancyhover-offset-y: -186px;
$natureconservancyhover-width: 75px;
$natureconservancyhover-height: 38px;
$natureconservancyhover-total-width: 375px;
$natureconservancyhover-total-height: 374px;
$natureconservancyhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$natureconservancyhover: (300px, 186px, -300px, -186px, 75px, 38px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'natureconservancyhover', );
$olam-name: 'olam';
$olam-x: 225px;
$olam-y: 319px;
$olam-offset-x: -225px;
$olam-offset-y: -319px;
$olam-width: 75px;
$olam-height: 23px;
$olam-total-width: 375px;
$olam-total-height: 374px;
$olam-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$olam: (225px, 319px, -225px, -319px, 75px, 23px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'olam', );
$olamhover-name: 'olamhover';
$olamhover-x: 300px;
$olamhover-y: 319px;
$olamhover-offset-x: -300px;
$olamhover-offset-y: -319px;
$olamhover-width: 75px;
$olamhover-height: 23px;
$olamhover-total-width: 375px;
$olamhover-total-height: 374px;
$olamhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$olamhover: (300px, 319px, -300px, -319px, 75px, 23px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'olamhover', );
$proforest-name: 'proforest';
$proforest-x: 150px;
$proforest-y: 283px;
$proforest-offset-x: -150px;
$proforest-offset-y: -283px;
$proforest-width: 75px;
$proforest-height: 33px;
$proforest-total-width: 375px;
$proforest-total-height: 374px;
$proforest-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$proforest: (150px, 283px, -150px, -283px, 75px, 33px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'proforest', );
$proforesthover-name: 'proforesthover';
$proforesthover-x: 300px;
$proforesthover-y: 283px;
$proforesthover-offset-x: -300px;
$proforesthover-offset-y: -283px;
$proforesthover-width: 75px;
$proforesthover-height: 33px;
$proforesthover-total-width: 375px;
$proforesthover-total-height: 374px;
$proforesthover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$proforesthover: (300px, 283px, -300px, -283px, 75px, 33px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'proforesthover', );
$rainforestalliance-name: 'rainforestalliance';
$rainforestalliance-x: 0px;
$rainforestalliance-y: 227px;
$rainforestalliance-offset-x: 0px;
$rainforestalliance-offset-y: -227px;
$rainforestalliance-width: 75px;
$rainforestalliance-height: 56px;
$rainforestalliance-total-width: 375px;
$rainforestalliance-total-height: 374px;
$rainforestalliance-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$rainforestalliance: (0px, 227px, 0px, -227px, 75px, 56px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'rainforestalliance', );
$rainforestalliancehover-name: 'rainforestalliancehover';
$rainforestalliancehover-x: 225px;
$rainforestalliancehover-y: 159px;
$rainforestalliancehover-offset-x: -225px;
$rainforestalliancehover-offset-y: -159px;
$rainforestalliancehover-width: 75px;
$rainforestalliancehover-height: 56px;
$rainforestalliancehover-total-width: 375px;
$rainforestalliancehover-total-height: 374px;
$rainforestalliancehover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$rainforestalliancehover: (225px, 159px, -225px, -159px, 75px, 56px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'rainforestalliancehover', );
$rspo-name: 'rspo';
$rspo-x: 0px;
$rspo-y: 83px;
$rspo-offset-x: 0px;
$rspo-offset-y: -83px;
$rspo-width: 75px;
$rspo-height: 76px;
$rspo-total-width: 375px;
$rspo-total-height: 374px;
$rspo-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$rspo: (0px, 83px, 0px, -83px, 75px, 76px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'rspo', );
$rspohover-name: 'rspohover';
$rspohover-x: 150px;
$rspohover-y: 0px;
$rspohover-offset-x: -150px;
$rspohover-offset-y: 0px;
$rspohover-width: 75px;
$rspohover-height: 76px;
$rspohover-total-width: 375px;
$rspohover-total-height: 374px;
$rspohover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$rspohover: (150px, 0px, -150px, 0px, 75px, 76px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'rspohover', );
$transparentworld-name: 'transparentworld';
$transparentworld-x: 300px;
$transparentworld-y: 261px;
$transparentworld-offset-x: -300px;
$transparentworld-offset-y: -261px;
$transparentworld-width: 75px;
$transparentworld-height: 22px;
$transparentworld-total-width: 375px;
$transparentworld-total-height: 374px;
$transparentworld-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$transparentworld: (300px, 261px, -300px, -261px, 75px, 22px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'transparentworld', );
$transparentworldhover-name: 'transparentworldhover';
$transparentworldhover-x: 0px;
$transparentworldhover-y: 352px;
$transparentworldhover-offset-x: 0px;
$transparentworldhover-offset-y: -352px;
$transparentworldhover-width: 75px;
$transparentworldhover-height: 22px;
$transparentworldhover-total-width: 375px;
$transparentworldhover-total-height: 374px;
$transparentworldhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$transparentworldhover: (0px, 352px, 0px, -352px, 75px, 22px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'transparentworldhover', );
$umd-name: 'umd';
$umd-x: 150px;
$umd-y: 83px;
$umd-offset-x: -150px;
$umd-offset-y: -83px;
$umd-width: 75px;
$umd-height: 75px;
$umd-total-width: 375px;
$umd-total-height: 374px;
$umd-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$umd: (150px, 83px, -150px, -83px, 75px, 75px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'umd', );
$umdhover-name: 'umdhover';
$umdhover-x: 75px;
$umdhover-y: 83px;
$umdhover-offset-x: -75px;
$umdhover-offset-y: -83px;
$umdhover-width: 75px;
$umdhover-height: 75px;
$umdhover-total-width: 375px;
$umdhover-total-height: 374px;
$umdhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$umdhover: (75px, 83px, -75px, -83px, 75px, 75px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'umdhover', );
$unilever-name: 'unilever';
$unilever-x: 75px;
$unilever-y: 0px;
$unilever-offset-x: -75px;
$unilever-offset-y: 0px;
$unilever-width: 75px;
$unilever-height: 83px;
$unilever-total-width: 375px;
$unilever-total-height: 374px;
$unilever-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$unilever: (75px, 0px, -75px, 0px, 75px, 83px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'unilever', );
$unileverhover-name: 'unileverhover';
$unileverhover-x: 0px;
$unileverhover-y: 0px;
$unileverhover-offset-x: 0px;
$unileverhover-offset-y: 0px;
$unileverhover-width: 75px;
$unileverhover-height: 83px;
$unileverhover-total-width: 375px;
$unileverhover-total-height: 374px;
$unileverhover-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$unileverhover: (0px, 0px, 0px, 0px, 75px, 83px, 375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', 'unileverhover', );
$spritesheet-width: 375px;
$spritesheet-height: 374px;
$spritesheet-image: 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png';
$spritesheet-sprites: ($br, $brhover, $cargill, $cargillhover, $citi, $citihover, $daemeter, $daemeterhover, $esri, $esrihover, $google, $googlehover, $idb, $idbhover, $idh, $idhhover, $ioi, $ioihover, $iucn, $iucnhover, $mondelez, $mondelezhover, $natureconservancy, $natureconservancyhover, $olam, $olamhover, $proforest, $proforesthover, $rainforestalliance, $rainforestalliancehover, $rspo, $rspohover, $transparentworld, $transparentworldhover, $umd, $umdhover, $unilever, $unileverhover, );
$spritesheet: (375px, 374px, 'https://rawgit.com/SwampGuzzler/gfw-assets/update_footer/src/images/sprites/logos-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
