// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$br-name: 'br';
$br-x: 0px;
$br-y: 3874px;
$br-offset-x: 0px;
$br-offset-y: -3874px;
$br-width: 2845px;
$br-height: 2134px;
$br-total-width: 10569px;
$br-total-height: 6008px;
$br-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$br: (0px, 3874px, 0px, -3874px, 2845px, 2134px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'br', );
$brhover-name: 'brhover';
$brhover-x: 4008px;
$brhover-y: 0px;
$brhover-offset-x: -4008px;
$brhover-offset-y: 0px;
$brhover-width: 2845px;
$brhover-height: 2134px;
$brhover-total-width: 10569px;
$brhover-total-height: 6008px;
$brhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$brhover: (4008px, 0px, -4008px, 0px, 2845px, 2134px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'brhover', );
$cargill-name: 'cargill';
$cargill-x: 5312px;
$cargill-y: 2993px;
$cargill-offset-x: -5312px;
$cargill-offset-y: -2993px;
$cargill-width: 504px;
$cargill-height: 303px;
$cargill-total-width: 10569px;
$cargill-total-height: 6008px;
$cargill-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$cargill: (5312px, 2993px, -5312px, -2993px, 504px, 303px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'cargill', );
$cargillhover-name: 'cargillhover';
$cargillhover-x: 4808px;
$cargillhover-y: 2993px;
$cargillhover-offset-x: -4808px;
$cargillhover-offset-y: -2993px;
$cargillhover-width: 504px;
$cargillhover-height: 303px;
$cargillhover-total-width: 10569px;
$cargillhover-total-height: 6008px;
$cargillhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$cargillhover: (4808px, 2993px, -4808px, -2993px, 504px, 303px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'cargillhover', );
$citi-name: 'citi';
$citi-x: 6853px;
$citi-y: 1194px;
$citi-offset-x: -6853px;
$citi-offset-y: -1194px;
$citi-width: 2000px;
$citi-height: 1300px;
$citi-total-width: 10569px;
$citi-total-height: 6008px;
$citi-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$citi: (6853px, 1194px, -6853px, -1194px, 2000px, 1300px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'citi', );
$citihover-name: 'citihover';
$citihover-x: 6853px;
$citihover-y: 2494px;
$citihover-offset-x: -6853px;
$citihover-offset-y: -2494px;
$citihover-width: 2000px;
$citihover-height: 1300px;
$citihover-total-width: 10569px;
$citihover-total-height: 6008px;
$citihover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$citihover: (6853px, 2494px, -6853px, -2494px, 2000px, 1300px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'citihover', );
$daemeter-name: 'daemeter';
$daemeter-x: 6853px;
$daemeter-y: 0px;
$daemeter-offset-x: -6853px;
$daemeter-offset-y: 0px;
$daemeter-width: 3716px;
$daemeter-height: 1194px;
$daemeter-total-width: 10569px;
$daemeter-total-height: 6008px;
$daemeter-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$daemeter: (6853px, 0px, -6853px, 0px, 3716px, 1194px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'daemeter', );
$daemeterhover-name: 'daemeterhover';
$daemeterhover-x: 2845px;
$daemeterhover-y: 3874px;
$daemeterhover-offset-x: -2845px;
$daemeterhover-offset-y: -3874px;
$daemeterhover-width: 3716px;
$daemeterhover-height: 1194px;
$daemeterhover-total-width: 10569px;
$daemeterhover-total-height: 6008px;
$daemeterhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$daemeterhover: (2845px, 3874px, -2845px, -3874px, 3716px, 1194px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'daemeterhover', );
$esri-name: 'esri';
$esri-x: 6853px;
$esri-y: 5697px;
$esri-offset-x: -6853px;
$esri-offset-y: -5697px;
$esri-width: 640px;
$esri-height: 286px;
$esri-total-width: 10569px;
$esri-total-height: 6008px;
$esri-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$esri: (6853px, 5697px, -6853px, -5697px, 640px, 286px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'esri', );
$esrihover-name: 'esrihover';
$esrihover-x: 7493px;
$esrihover-y: 5697px;
$esrihover-offset-x: -7493px;
$esrihover-offset-y: -5697px;
$esrihover-width: 640px;
$esrihover-height: 286px;
$esrihover-total-width: 10569px;
$esrihover-total-height: 6008px;
$esrihover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$esrihover: (7493px, 5697px, -7493px, -5697px, 640px, 286px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'esrihover', );
$google-name: 'google';
$google-x: 8853px;
$google-y: 1194px;
$google-offset-x: -8853px;
$google-offset-y: -1194px;
$google-width: 1440px;
$google-height: 920px;
$google-total-width: 10569px;
$google-total-height: 6008px;
$google-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$google: (8853px, 1194px, -8853px, -1194px, 1440px, 920px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'google', );
$googlehover-name: 'googlehover';
$googlehover-x: 8853px;
$googlehover-y: 2494px;
$googlehover-offset-x: -8853px;
$googlehover-offset-y: -2494px;
$googlehover-width: 1440px;
$googlehover-height: 920px;
$googlehover-total-width: 10569px;
$googlehover-total-height: 6008px;
$googlehover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$googlehover: (8853px, 2494px, -8853px, -2494px, 1440px, 920px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'googlehover', );
$idb-name: 'idb';
$idb-x: 4008px;
$idb-y: 2993px;
$idb-offset-x: -4008px;
$idb-offset-y: -2993px;
$idb-width: 400px;
$idb-height: 400px;
$idb-total-width: 10569px;
$idb-total-height: 6008px;
$idb-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$idb: (4008px, 2993px, -4008px, -2993px, 400px, 400px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'idb', );
$idbhover-name: 'idbhover';
$idbhover-x: 4408px;
$idbhover-y: 2993px;
$idbhover-offset-x: -4408px;
$idbhover-offset-y: -2993px;
$idbhover-width: 400px;
$idbhover-height: 400px;
$idbhover-total-width: 10569px;
$idbhover-total-height: 6008px;
$idbhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$idbhover: (4408px, 2993px, -4408px, -2993px, 400px, 400px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'idbhover', );
$idh-name: 'idh';
$idh-x: 10293px;
$idh-y: 1409px;
$idh-offset-x: -10293px;
$idh-offset-y: -1409px;
$idh-width: 238px;
$idh-height: 215px;
$idh-total-width: 10569px;
$idh-total-height: 6008px;
$idh-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$idh: (10293px, 1409px, -10293px, -1409px, 238px, 215px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'idh', );
$idhhover-name: 'idhhover';
$idhhover-x: 10293px;
$idhhover-y: 1194px;
$idhhover-offset-x: -10293px;
$idhhover-offset-y: -1194px;
$idhhover-width: 238px;
$idhhover-height: 215px;
$idhhover-total-width: 10569px;
$idhhover-total-height: 6008px;
$idhhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$idhhover: (10293px, 1194px, -10293px, -1194px, 238px, 215px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'idhhover', );
$ioi-name: 'ioi';
$ioi-x: 8853px;
$ioi-y: 2359px;
$ioi-offset-x: -8853px;
$ioi-offset-y: -2359px;
$ioi-width: 629px;
$ioi-height: 49px;
$ioi-total-width: 10569px;
$ioi-total-height: 6008px;
$ioi-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$ioi: (8853px, 2359px, -8853px, -2359px, 629px, 49px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'ioi', );
$ioihover-name: 'ioihover';
$ioihover-x: 9482px;
$ioihover-y: 2359px;
$ioihover-offset-x: -9482px;
$ioihover-offset-y: -2359px;
$ioihover-width: 629px;
$ioihover-height: 49px;
$ioihover-total-width: 10569px;
$ioihover-total-height: 6008px;
$ioihover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$ioihover: (9482px, 2359px, -9482px, -2359px, 629px, 49px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'ioihover', );
$iucn-name: 'iucn';
$iucn-x: 0px;
$iucn-y: 1937px;
$iucn-offset-x: 0px;
$iucn-offset-y: -1937px;
$iucn-width: 4008px;
$iucn-height: 1937px;
$iucn-total-width: 10569px;
$iucn-total-height: 6008px;
$iucn-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$iucn: (0px, 1937px, 0px, -1937px, 4008px, 1937px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'iucn', );
$iucnhover-name: 'iucnhover';
$iucnhover-x: 0px;
$iucnhover-y: 0px;
$iucnhover-offset-x: 0px;
$iucnhover-offset-y: 0px;
$iucnhover-width: 4008px;
$iucnhover-height: 1937px;
$iucnhover-total-width: 10569px;
$iucnhover-total-height: 6008px;
$iucnhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$iucnhover: (0px, 0px, 0px, 0px, 4008px, 1937px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'iucnhover', );
$mondelez-name: 'mondelez';
$mondelez-x: 8853px;
$mondelez-y: 3414px;
$mondelez-offset-x: -8853px;
$mondelez-offset-y: -3414px;
$mondelez-width: 1024px;
$mondelez-height: 245px;
$mondelez-total-width: 10569px;
$mondelez-total-height: 6008px;
$mondelez-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$mondelez: (8853px, 3414px, -8853px, -3414px, 1024px, 245px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'mondelez', );
$mondelezhover-name: 'mondelezhover';
$mondelezhover-x: 8853px;
$mondelezhover-y: 2114px;
$mondelezhover-offset-x: -8853px;
$mondelezhover-offset-y: -2114px;
$mondelezhover-width: 1024px;
$mondelezhover-height: 245px;
$mondelezhover-total-width: 10569px;
$mondelezhover-total-height: 6008px;
$mondelezhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$mondelezhover: (8853px, 2114px, -8853px, -2114px, 1024px, 245px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'mondelezhover', );
$natureconservancy-name: 'natureconservancy';
$natureconservancy-x: 10293px;
$natureconservancy-y: 1624px;
$natureconservancy-offset-x: -10293px;
$natureconservancy-offset-y: -1624px;
$natureconservancy-width: 221px;
$natureconservancy-height: 110px;
$natureconservancy-total-width: 10569px;
$natureconservancy-total-height: 6008px;
$natureconservancy-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$natureconservancy: (10293px, 1624px, -10293px, -1624px, 221px, 110px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'natureconservancy', );
$natureconservancyhover-name: 'natureconservancyhover';
$natureconservancyhover-x: 10293px;
$natureconservancyhover-y: 1734px;
$natureconservancyhover-offset-x: -10293px;
$natureconservancyhover-offset-y: -1734px;
$natureconservancyhover-width: 216px;
$natureconservancyhover-height: 108px;
$natureconservancyhover-total-width: 10569px;
$natureconservancyhover-total-height: 6008px;
$natureconservancyhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$natureconservancyhover: (10293px, 1734px, -10293px, -1734px, 216px, 108px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'natureconservancyhover', );
$olam-name: 'olam';
$olam-x: 8574px;
$olam-y: 5166px;
$olam-offset-x: -8574px;
$olam-offset-y: -5166px;
$olam-width: 1721px;
$olam-height: 531px;
$olam-total-width: 10569px;
$olam-total-height: 6008px;
$olam-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$olam: (8574px, 5166px, -8574px, -5166px, 1721px, 531px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'olam', );
$olamhover-name: 'olamhover';
$olamhover-x: 6853px;
$olamhover-y: 5166px;
$olamhover-offset-x: -6853px;
$olamhover-offset-y: -5166px;
$olamhover-width: 1721px;
$olamhover-height: 531px;
$olamhover-total-width: 10569px;
$olamhover-total-height: 6008px;
$olamhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$olamhover: (6853px, 5166px, -6853px, -5166px, 1721px, 531px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'olamhover', );
$proforest-name: 'proforest';
$proforest-x: 9877px;
$proforest-y: 2114px;
$proforest-offset-x: -9877px;
$proforest-offset-y: -2114px;
$proforest-width: 500px;
$proforest-height: 218px;
$proforest-total-width: 10569px;
$proforest-total-height: 6008px;
$proforest-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$proforest: (9877px, 2114px, -9877px, -2114px, 500px, 218px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'proforest', );
$proforesthover-name: 'proforesthover';
$proforesthover-x: 9877px;
$proforesthover-y: 3414px;
$proforesthover-offset-x: -9877px;
$proforesthover-offset-y: -3414px;
$proforesthover-width: 500px;
$proforesthover-height: 218px;
$proforesthover-total-width: 10569px;
$proforesthover-total-height: 6008px;
$proforesthover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$proforesthover: (9877px, 3414px, -9877px, -3414px, 500px, 218px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'proforesthover', );
$rainforestalliance-name: 'rainforestalliance';
$rainforestalliance-x: 8709px;
$rainforestalliance-y: 3794px;
$rainforestalliance-offset-x: -8709px;
$rainforestalliance-offset-y: -3794px;
$rainforestalliance-width: 1856px;
$rainforestalliance-height: 1372px;
$rainforestalliance-total-width: 10569px;
$rainforestalliance-total-height: 6008px;
$rainforestalliance-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$rainforestalliance: (8709px, 3794px, -8709px, -3794px, 1856px, 1372px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'rainforestalliance', );
$rainforestalliancehover-name: 'rainforestalliancehover';
$rainforestalliancehover-x: 6853px;
$rainforestalliancehover-y: 3794px;
$rainforestalliancehover-offset-x: -6853px;
$rainforestalliancehover-offset-y: -3794px;
$rainforestalliancehover-width: 1856px;
$rainforestalliancehover-height: 1372px;
$rainforestalliancehover-total-width: 10569px;
$rainforestalliancehover-total-height: 6008px;
$rainforestalliancehover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$rainforestalliancehover: (6853px, 3794px, -6853px, -3794px, 1856px, 1372px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'rainforestalliancehover', );
$rspo-name: 'rspo';
$rspo-x: 4859px;
$rspo-y: 2134px;
$rspo-offset-x: -4859px;
$rspo-offset-y: -2134px;
$rspo-width: 851px;
$rspo-height: 859px;
$rspo-total-width: 10569px;
$rspo-total-height: 6008px;
$rspo-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$rspo: (4859px, 2134px, -4859px, -2134px, 851px, 859px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'rspo', );
$rspohover-name: 'rspohover';
$rspohover-x: 4008px;
$rspohover-y: 2134px;
$rspohover-offset-x: -4008px;
$rspohover-offset-y: -2134px;
$rspohover-width: 851px;
$rspohover-height: 859px;
$rspohover-total-width: 10569px;
$rspohover-total-height: 6008px;
$rspohover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$rspohover: (4008px, 2134px, -4008px, -2134px, 851px, 859px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'rspohover', );
$transparentworld-name: 'transparentworld';
$transparentworld-x: 8853px;
$transparentworld-y: 2408px;
$transparentworld-offset-x: -8853px;
$transparentworld-offset-y: -2408px;
$transparentworld-width: 248px;
$transparentworld-height: 71px;
$transparentworld-total-width: 10569px;
$transparentworld-total-height: 6008px;
$transparentworld-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$transparentworld: (8853px, 2408px, -8853px, -2408px, 248px, 71px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'transparentworld', );
$transparentworldhover-name: 'transparentworldhover';
$transparentworldhover-x: 10293px;
$transparentworldhover-y: 1992px;
$transparentworldhover-offset-x: -10293px;
$transparentworldhover-offset-y: -1992px;
$transparentworldhover-width: 248px;
$transparentworldhover-height: 71px;
$transparentworldhover-total-width: 10569px;
$transparentworldhover-total-height: 6008px;
$transparentworldhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$transparentworldhover: (10293px, 1992px, -10293px, -1992px, 248px, 71px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'transparentworldhover', );
$umd-name: 'umd';
$umd-x: 10293px;
$umd-y: 1842px;
$umd-offset-x: -10293px;
$umd-offset-y: -1842px;
$umd-width: 150px;
$umd-height: 150px;
$umd-total-width: 10569px;
$umd-total-height: 6008px;
$umd-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$umd: (10293px, 1842px, -10293px, -1842px, 150px, 150px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'umd', );
$umdhover-name: 'umdhover';
$umdhover-x: 10377px;
$umdhover-y: 2114px;
$umdhover-offset-x: -10377px;
$umdhover-offset-y: -2114px;
$umdhover-width: 150px;
$umdhover-height: 150px;
$umdhover-total-width: 10569px;
$umdhover-total-height: 6008px;
$umdhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$umdhover: (10377px, 2114px, -10377px, -2114px, 150px, 150px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'umdhover', );
$unilever-name: 'unilever';
$unilever-x: 5710px;
$unilever-y: 2134px;
$unilever-offset-x: -5710px;
$unilever-offset-y: -2134px;
$unilever-width: 520px;
$unilever-height: 572px;
$unilever-total-width: 10569px;
$unilever-total-height: 6008px;
$unilever-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$unilever: (5710px, 2134px, -5710px, -2134px, 520px, 572px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'unilever', );
$unileverhover-name: 'unileverhover';
$unileverhover-x: 6230px;
$unileverhover-y: 2134px;
$unileverhover-offset-x: -6230px;
$unileverhover-offset-y: -2134px;
$unileverhover-width: 520px;
$unileverhover-height: 572px;
$unileverhover-total-width: 10569px;
$unileverhover-total-height: 6008px;
$unileverhover-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$unileverhover: (6230px, 2134px, -6230px, -2134px, 520px, 572px, 10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', 'unileverhover', );
$spritesheet-width: 10569px;
$spritesheet-height: 6008px;
$spritesheet-image: '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png';
$spritesheet-sprites: ($br, $brhover, $cargill, $cargillhover, $citi, $citihover, $daemeter, $daemeterhover, $esri, $esrihover, $google, $googlehover, $idb, $idbhover, $idh, $idhhover, $ioi, $ioihover, $iucn, $iucnhover, $mondelez, $mondelezhover, $natureconservancy, $natureconservancyhover, $olam, $olamhover, $proforest, $proforesthover, $rainforestalliance, $rainforestalliancehover, $rspo, $rspohover, $transparentworld, $transparentworldhover, $umd, $umdhover, $unilever, $unileverhover, );
$spritesheet: (10569px, 6008px, '/Users/pmoran/blue-raster/gfw-assets/src/images/sprites/logos-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
