#headerGfw {
  .m-header-submenu {
    position: absolute;
    top: auto;
    bottom: 50px;
    left: 0;
    z-index: 3;
    line-height: 1.25;
    opacity: 0;
    visibility: hidden;
    box-shadow: $shadow1;
    @media (min-width: $br-mobile){
      top: 35px;
      bottom: auto;
    }
    
    &.-active {
      opacity: 1;
      visibility: visible;
    }

    > ul {
      background: $white;
      z-index: 2;
    }

    &.-more {
      background: $dark1;

      > ul {
        padding: 20px;
        padding-right: 40px;
        background: $dark1;   
        font-size: 12px;
        border-top: 1px solid $dark;
        @media (min-width: $br-mobile){
          padding: 40px;
          padding-right: 80px;
        }

        &:first-child {
          border-top: none;
        }
        
        > li {
          text-transform: uppercase;
          margin-top: 10px;

          &:first-child {
            margin-top: 0;
          }

          a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $white;
            white-space: nowrap;

            &:hover {
              span {
                border-color: $primary-color;
              }
            }

            svg {
              fill: $primary-color;
              margin: 0 8px 0 0;
              height: 18px;
            }

            span {
              border-bottom: 1px solid transparent;
            }
          }
        }     
      }
    }

    ///////////////
    // DEFAULT //
    ///////////////
    &.-default {
      &.-right {
        right: 0;
        left: auto;
        
        &:after {
          left: auto;
          right: 23px;
          margin: 0px -5px 0 0;
        }
      }

      &.-center {
        left: 50%;
        transform: translate(-50%,0);
      }

      &.-left {
        left: 0;
      }

      &:after {
        background: $dark1;
        border: none;
      }

      > ul {
        padding: 20px;
        background: $dark1;   
        font-size: 12px;
        border-top: 1px solid $dark;
        @media (min-width: $br-mobile){
          padding: 40px;
        }

        &:first-child {
          border-top: none;
        }
        
        > li {
          text-transform: uppercase;
          margin-top: 10px;

          &:first-child {
            margin-top: 0;
          }

          a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $white;
            white-space: nowrap;

            &:hover {
              span {
                border-color: $primary-color;
              }
            }

            svg {
              fill: $primary-color;
              margin: 0 8px 0 0;
              height: 18px;
            }

            span {
              border-bottom: 1px solid transparent;
            }
          }
        }     
      }
    }


    ///////////////
    // HOME MENU //
    ///////////////
    &.-home {
      width: 100%;
      font-size: 12px;
      padding: 0;
      z-index: 4;
      overflow-y: auto;
      text-align: center;

      @media (min-width: $br-mobile){
        overflow-y: visible;
        padding: 35px 0;
        text-align: left;
        background: $white;
      }

      @media (max-width: $br-mobile - 1){
        &.-active {
          position: fixed;
          top: auto;
          bottom: 50px;
          left: 0;
          height: 100%;
          max-height: calc(100% - 50px);

          &:after {
            display: none;
          }
        }
      }



      &:after {
        left: 13px;
      }

      h3 {
        text-transform: uppercase;

        border-top: 1px solid $border1;
        font-size: 16px;
        background: #F2F2F3;
        color: $dark;

        @media (min-width: $br-mobile){
          border-top: none;
          font-size: 12px;
          font-weight: 500;
          background: none;
        }

        > a, > span {
          padding: 15px 0;
          display: block;
          @media (min-width: $br-mobile){
            padding: 0;
            display: inline;
          }
        }


        &.-title {
          text-align: center;
          padding: 0 0 35px;
          display: none;

          @media (min-width: $br-mobile){
            display: block;
          }

          a {
            background: $primary-color;
            color: $white;
            display: inline-block;
            padding: 10px 15px 8px;
            border-radius: 20px;
            transition: $transition1;

            &:hover {
              background: #789631;
            }

          }
        }
      }

      > ul {
        width: 100%;
        position: absolute;
        bottom: 0;
        max-height: 100%;
        @media (min-width: $br-mobile){
          display: flex;
          position: relative;
          bottom: auto;
          justify-content: space-between;
        }

        > li {
          background: $white;
          @media (min-width: $br-mobile){
            width: 20%;
            padding: 0 25px;
            border-right: 1px solid $border1;

            &.-only-mobile {
              display: none;
            }

            &:last-child {
              border-right: none;
            }
          }


          a {
            color: $dark;
            &:hover {
              color: $primary-color;
            }
          }

          > ul {
            font-size: 15px;
            padding: 15px 0;

            @media (min-width: $br-mobile){
              margin: 15px 0 0;
              padding: 0;
              font-size: 11px;
            }

            > li{
              display: block;
              text-transform: none;
              margin: 15px 0 0;
              &:first-child {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .m-header-backdrop {
    position: fixed;
    z-index: 1;
    background: rgba(0,0,0, 0.25);
    width: 100%;
    height: 100%;
    @media (min-width: $br-mobile){
      display: none;
    }
  }

}
