#googleTranslate {
  .goog-te-gadget {
    font-family: inherit;
    text-align: center;

    .goog-te-gadget-simple {
      display: flex;
      align-items: center;
      height: rem(35px);
      border: 0;
      background: none;

      img {
        display: none;
      }
    }
  }
}


#headerGfw {
  #transifexTranslateElement {
    display: flex;
    position: relative;
    align-items: center;
    height: rem(35px);
    font-size: 11px;

    @media (min-width: $br-mobile) {
      &.-visible {
        display: block;
      }
    }

    .txlive-langselector-toggle {
      transition: color .1s linear;
      border: rem(1px) solid transparent;
      color: rgba($dark, .5);
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;



      &:hover {
        transition: color .1s linear;
        color: $dark;
      }

      .txlive-langselector-current {
        display: block;
        line-height: 1;
      }
    }

    .txlive-langselector-list {
      position: absolute;
      top: rem(47px);
      right: -25px;
      min-width: rem(200px);
      max-width: rem(200px);
      padding: 0;
      border: 1px solid $gray;
      border-top: 0;
      background: $white;
      box-shadow: none;

      li {
        position: relative;
        padding: 12px 15px;
        color: $dark;
        text-transform: uppercase;
        z-index: 1;

        &:first-of-type {
          margin-top: 12px;
        }

        &:hover {
          background-color: lighten($gray, 1%);
        }
      }
    }
  }

  #transifexTranslateMobileElement {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 15px;

    @media (min-width: $br-mobile) {
      display: none;
    }

    &.-active {
      display: block;
    }

    .txlive-langselector-toggle {
      display: flex;
      align-items: center;
    }

    .txlive-langselector-list {
      display: none;
      position: absolute;
      top: calc(-100vh + 116px);
      left: 0;
      padding: 0;
      transform: translate(0, 0);
      background: $white;
      box-shadow: none;
      width: 100vw;
      height: calc(100vh - 118px);

      &.-active {
        display: block;
      }

      li {
        position: relative;
        padding: 10px 0;
        padding-left: 10px;
        color: $dark;
        z-index: 1;
        max-width: 83.33333%;
        margin: 0 auto 10px;

        &:first-of-type {
          margin-top: rem(40px);
        }

        &:hover {
          background-color: lighten($gray, 1%);
        }
      }
    }

    .txlive-langselector-marker {
      display: block;
      width: 0;
      height: 0;
      border-width: 6.9px 4px 0;
      border-style: solid;
      border-color: $dark transparent transparent transparent;
      margin-left: rem(10px);
    }
  }
}
