/* line 700, /Users/miguelbarrenechea/Proyects/gfw/app/assets/stylesheets/_header1600.scss */
$white: #fff;
$black: #555;
$gray: #ddd;
$dark-gray: #9b9b9b;;

#googleTranslate .goog-te-gadget {
  font-family: inherit;
  text-align: center;

  .goog-te-gadget-simple {
    border: none;
    background: none;
    align-items: center;
    display: flex;
    height: 35px;

    img {
      display: none;
    }

    .goog-te-menu-value {
      color: $light;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 28px;
      position: relative;
      padding-right: 20px;

      span {
        margin: 0 3px 0 0px;
      }

      span:first-child {
        display: inline-block;
        margin: 1px 5px 0;
      }

      span:nth-of-type(2) {
        display: none;
      }

      span:last-child {
        margin: 0;
        visibility: hidden;
        display: block;
        position: absolute;
        top: 50%;
        right: 5px;
        height: 16px;
        width: 16px;
        transform: translate(0, -55%);

        &:before {
          content: "";
          visibility: visible;
          display: block;
          background: url(http://www.globalforestwatch.org/assets/svg-icons/arrow-down-white.svg) no-repeat center;
          background-size: contain;
          height: 12px;
          width: 12px;
          position: absolute;
          top: 50%;
          margin: -6px 0 0;
        }
      }
    }
  }
}


#headerGfw {
  #transifexTranslateElement {
    position: relative;
    height: 100%;
    font-size: 11px;
    display: flex;
    height: 35px;
    align-items: center;

    @media (min-width: $br-mobile){
      &.-visible {
        display: block;
      }
    }

    .txlive-langselector-toggle {
      color: rgba($dark, .5);
      border: 1px solid transparent;
      text-transform: uppercase;
      cursor: pointer;
      transition: color .1s linear;
      font-size: 12px;
      text-transform: uppercase;

      &:hover {
        color: $dark;
        transition: color .1s linear;
      }

      .txlive-langselector-current {
        line-height: 1;
        display: block;
      }
    }

    .txlive-langselector-list {
      position: absolute;
      top: 47px;
      right: -25px;
      min-width: 200px;
      max-width: 200px;
      padding: 0;
      background: $white;
      box-shadow: none;
      border: 1px solid $gray;
      border-top: 0px;

      li {
        padding: 12px 15px;
        color: $dark;
        position: relative;
        z-index: 1;
        text-transform: uppercase;

        &:hover {
          background-color: lighten($gray,1%);
        }
      }
    }
  }

  #transifexTranslateMobileElement {
    position: relative;
    height: 100%;
    font-size: 15px;
    display: none;
    align-items: center;

    &.-active {
      display: block;
    }

    .txlive-langselector-toggle {
      display: none;
    }

    .txlive-langselector-list {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0,0);
      padding: 0;
      background: $white;

      li {
        padding: 12px 25px;
        color: $dark;
        position: relative;
        z-index: 1;
      }
    }
  }
}
