// Settings
// common colors
$white: #FFF;
$black: #000;
$dark: #555;
$dark1: #262424;
$light: #b6b6ba;
$footer-background: #eceee8;

// breackpoints
$br-mobile-portrait: 420px;
$br-mobile: 850px;
$br-tablet: 1050px;
$br-desktop: 1200px;
$br-desktopbig: 1400px;


// colors
$primary-color: #97bd3d;
$red: #ed1846;
$orange: #e98300;
$blue: #5b80a0;
$bluewater: #4099ce;
$transition1: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
$shadow1: 0 0 4px rgba(142, 142, 142, 0.5);
$border1: #E5E5DF;

// animations
$easeInSine:  cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine:  cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine:  cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Imports
@import 'modules/reset.scss';
@import 'modules/mixins.scss';
@import 'modules/buttons.scss';
@import 'modules/form.scss';

// header
@import 'modules/header.scss';
@import 'modules/submenu.scss';
@import 'modules/translate.scss';

// section
@import 'modules/section.scss';

// feedback
@import 'modules/feedbacklink.scss';
@import 'modules/feedbackmodal.scss';

// footer
@import 'modules/logos.scss';
@import 'modules/footer.scss';
@import 'modules/slick.scss';
