// common colors
$white: #FFF;
$black: #000;
$dark: #333;
$dark1: #262424;
$dark2: #6C6C6C;
$light: #b8bab8;
$medium-light: #EAE9E9;
$footer-background: #eceee8;
$gray: #ddd;
$dark-gray: #9b9b9b;;
$slate: #666666;
$slate-strong: #444444;
$warm-grey: #999999;
$greyish-brown: #555555;
$white-two: #d9d9d9;

// colors
$primary-color: #97bd3d;
$primary-color-hover: #779627;
$red: #ed1846;
$orange: #e98300;
$blue: #5b80a0;
$bluewater: #4099ce;
$transition1: all 0.15s $easeInOutSine;
$transition2: all 0.25s $easeInOutSine;
$shadow1: 0 0 4px rgba(142, 142, 142, 0.5);
$border1: #E5E5DF;
$border2: #D6D6D9;
$border3: #F7F7F7;

//Social Networks
$facebook: #39579b;
$twitter: #598dca;
$google: #da4735;
